{
  "openapi": "3.0.0",
  "info": {
    "title": "Security Director Cloud APIs",
    "description": "API for managing shared security objects like IPS profiles, content filtering profiles, and security policies, API for managing firewall security policies and rules, API for managing Network Address Translation (NAT) policies",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "paths": {
    "/api/v2/change-password": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "ChangePassword",
        "description": "",
        "operationId": "ChangePassword",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamChangePasswordRequest"
                  },
                  {
                    "example": {
                      "email": "string",
                      "current_password": "string",
                      "new_password": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string",
                "current_password": "string",
                "new_password": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamChangePasswordResponse"
                    },
                    {
                      "example": {
                        "status": "SUCCESS"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/role/{ID}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetRole",
        "description": "",
        "operationId": "GetRole",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "description": "ID of the role.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetRoleResponse"
                    },
                    {
                      "example": {
                        "role": {
                          "UUID": "string",
                          "name": "string",
                          "capabilities": [
                            "string"
                          ],
                          "predefined": true
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "role": {
                    "UUID": "string",
                    "name": "string",
                    "capabilities": [
                      "string"
                    ],
                    "predefined": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/roles": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListRoles",
        "description": "",
        "operationId": "ListRoles",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListRolesResponse"
                    },
                    {
                      "example": {
                        "roles": [
                          {
                            "UUID": "string",
                            "name": "string",
                            "capabilities": [
                              "string"
                            ],
                            "predefined": true
                          }
                        ],
                        "role_count": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "roles": [
                    {
                      "UUID": "string",
                      "name": "string",
                      "capabilities": [
                        "string"
                      ],
                      "predefined": true
                    }
                  ],
                  "role_count": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/send-activate-user-email": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "SendActivateUserEmail",
        "description": "",
        "operationId": "SendActivateUserEmail",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamSendEmailRequest"
                  },
                  {
                    "example": {
                      "email": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "example": "string"
                  }
                },
                "example": {
                  "example": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tenant/tenant-id": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetTokenScope",
        "description": "",
        "operationId": "GetTokenScope",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamGetTokenScopeResponse"
                    },
                    {
                      "example": {
                        "tenant_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "tenant_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "CreateUser",
        "description": "",
        "operationId": "CreateUser",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateUserRequest"
                  },
                  {
                    "example": {
                      "user_name": "string",
                      "first_name": "string",
                      "last_name": "string",
                      "enable_option": {
                        "enable": true
                      },
                      "role_assignments": [
                        {
                          "scope_id": "string",
                          "role_id": "string",
                          "role_name": "string"
                        }
                      ],
                      "user_properties": {
                        "company_name": "string",
                        "phone_number": "string",
                        "address": "string",
                        "city": "string",
                        "state": "string",
                        "country": "string",
                        "zipcode": "string"
                      }
                    }
                  }
                ]
              },
              "example": {
                "user_name": "string",
                "first_name": "string",
                "last_name": "string",
                "enable_option": {
                  "enable": true
                },
                "role_assignments": [
                  {
                    "scope_id": "string",
                    "role_id": "string",
                    "role_name": "string"
                  }
                ],
                "user_properties": {
                  "company_name": "string",
                  "phone_number": "string",
                  "address": "string",
                  "city": "string",
                  "state": "string",
                  "country": "string",
                  "zipcode": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamCreateUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{user_id}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetUser",
        "description": "",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetUserResponse"
                    },
                    {
                      "example": {
                        "user_info": {
                          "user_id": "string",
                          "email": "string",
                          "name": "string",
                          "status": "string",
                          "last_login": "string",
                          "role": [
                            {
                              "role_name": "string"
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "user_info": {
                    "user_id": "string",
                    "email": "string",
                    "name": "string",
                    "status": "string",
                    "last_login": "string",
                    "role": [
                      {
                        "role_name": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "IAM"
        ],
        "summary": "EditUser",
        "description": "",
        "operationId": "EditUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Mandatory: User UUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditUserRequest"
                  },
                  {
                    "example": {
                      "user_id": "string",
                      "first_name": "string",
                      "last_name": "string",
                      "enable_option": {
                        "enable": true
                      },
                      "role_assignments": [
                        {
                          "scope_id": "string",
                          "scope_name": "string",
                          "scope_group_id": "string",
                          "scope_group_name": "string",
                          "role_id": "string",
                          "role_name": "string"
                        }
                      ],
                      "properties": {
                        "company_name": "string",
                        "phone_number": "string",
                        "address": "string",
                        "city": "string",
                        "state": "string",
                        "country": "string",
                        "zipcode": "string"
                      }
                    }
                  }
                ]
              },
              "example": {
                "user_id": "string",
                "first_name": "string",
                "last_name": "string",
                "enable_option": {
                  "enable": true
                },
                "role_assignments": [
                  {
                    "scope_id": "string",
                    "scope_name": "string",
                    "scope_group_id": "string",
                    "scope_group_name": "string",
                    "role_id": "string",
                    "role_name": "string"
                  }
                ],
                "properties": {
                  "company_name": "string",
                  "phone_number": "string",
                  "address": "string",
                  "city": "string",
                  "state": "string",
                  "country": "string",
                  "zipcode": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamEditUserResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{uuid}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "DeleteUser",
        "description": "",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the user to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamDeleteUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListUsers",
        "description": "",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListUsersResponse"
                    },
                    {
                      "example": {
                        "users": [
                          {
                            "user_id": "string",
                            "email": "string",
                            "name": "string",
                            "status": "string",
                            "last_login": "string",
                            "role": [
                              {
                                "role_name": "string"
                              }
                            ]
                          }
                        ],
                        "user_count": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "users": [
                    {
                      "user_id": "string",
                      "email": "string",
                      "name": "string",
                      "status": "string",
                      "last_login": "string",
                      "role": [
                        {
                          "role_name": "string"
                        }
                      ]
                    }
                  ],
                  "user_count": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/runtimeError"
                    },
                    {
                      "example": {
                        "error": "string",
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "typeUrl": "string",
                            "value": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "error": "string",
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "typeUrl": "string",
                      "value": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/bulk_site": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateBulkSite",
        "description": "",
        "operationId": "CreateBulkSite",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateBulkSiteRequest"
                  },
                  {
                    "example": {
                      "sites": [
                        {
                          "site_name": "string",
                          "description": "string",
                          "site_type": "string",
                          "primary_tenant_pop_id": "string",
                          "secondary_tenant_pop_id": "string",
                          "private_nets": [
                            "string"
                          ],
                          "zip_code": "string",
                          "country": "string",
                          "address": "string",
                          "cpe_devices": [
                            {
                              "name": "string",
                              "psk": "string",
                              "configured_unit_number": "string",
                              "trust_zone": "string",
                              "untrust_zone": "string",
                              "tunnel_routing_instance": "string",
                              "ipsec_profile_name": "string",
                              "cpe_interfaces": [
                                {
                                  "ip_address": "string",
                                  "ike_id": "string",
                                  "external_interface_name": "string",
                                  "tunnel_type": "TYPE_NA",
                                  "tunnel_interface": "string",
                                  "ip_address_type": "string",
                                  "name": "string"
                                }
                              ],
                              "cpe_type": "string",
                              "use_site_secondary": true,
                              "skip_tunnel_cfg": true
                            }
                          ],
                          "max_users": "string"
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "sites": [
                  {
                    "site_name": "string",
                    "description": "string",
                    "site_type": "string",
                    "primary_tenant_pop_id": "string",
                    "secondary_tenant_pop_id": "string",
                    "private_nets": [
                      "string"
                    ],
                    "zip_code": "string",
                    "country": "string",
                    "address": "string",
                    "cpe_devices": [
                      {
                        "name": "string",
                        "psk": "string",
                        "configured_unit_number": "string",
                        "trust_zone": "string",
                        "untrust_zone": "string",
                        "tunnel_routing_instance": "string",
                        "ipsec_profile_name": "string",
                        "cpe_interfaces": [
                          {
                            "ip_address": "string",
                            "ike_id": "string",
                            "external_interface_name": "string",
                            "tunnel_type": "TYPE_NA",
                            "tunnel_interface": "string",
                            "ip_address_type": "string",
                            "name": "string"
                          }
                        ],
                        "cpe_type": "string",
                        "use_site_secondary": true,
                        "skip_tunnel_cfg": true
                      }
                    ],
                    "max_users": "string"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "example": "string"
                  }
                },
                "example": {
                  "example": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    },
                    {
                      "example": {
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "@type": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "@type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/external-probe": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetExternalProbe",
        "description": "Get a tenant object",
        "operationId": "GetExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetExternalProbeResponse"
                    },
                    {
                      "example": {
                        "external_probe": {
                          "probe_address": "string",
                          "ping_source_subnet": "string"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "external_probe": {
                    "probe_address": "string",
                    "ping_source_subnet": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    },
                    {
                      "example": {
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "@type": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "@type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteExternalProbe",
        "description": "Delete a tenant object",
        "operationId": "DeleteExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    },
                    {
                      "example": {
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "@type": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "@type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateExternalProbe",
        "description": "create tenate object",
        "operationId": "CreateExternalProbe",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExternalProbeRequest"
                  },
                  {
                    "example": {
                      "external_probe": {
                        "probe_address": "string",
                        "ping_source_subnet": "string"
                      }
                    }
                  }
                ]
              },
              "example": {
                "external_probe": {
                  "probe_address": "string",
                  "ping_source_subnet": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "example": "string"
                  }
                },
                "example": {
                  "example": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    },
                    {
                      "example": {
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "@type": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "@type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateIpsecProfile",
        "description": "Create an ipsec profile",
        "operationId": "CreateIpsecProfile",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateIpsecProfile"
                  },
                  {
                    "example": {
                      "profile": {
                        "profile_name": "string",
                        "description": "string",
                        "ike_auth_method": "IKE_AUTH_METHOD_NONE",
                        "ike_dh_group": "GROUP_NONE",
                        "ike_auth_algorithm": "IKE_AUTH_ALGO_NONE",
                        "ike_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                        "ike_lifetime": 1,
                        "ipsec_protocol": "IPSEC_PROTOCOL_NONE",
                        "ipsec_auth_algorithm": "IPSEC_AUTH_ALGO_NONE",
                        "ipsec_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                        "ipsec_lifetime": 1,
                        "ike_mode": "IKE_MODE_NONE",
                        "ike_version": "string",
                        "ike_dpd_enable": true,
                        "ike_dpd_option": "IKE_DPD_OPT_NONE",
                        "ike_dpd_interval": 1,
                        "ike_dpd_threshold": 1,
                        "ipsec_pfs_group": "GROUP_NONE",
                        "ipsec_establish_option": "IPSEC_EST_OPTION_NONE"
                      }
                    }
                  }
                ]
              },
              "example": {
                "profile": {
                  "profile_name": "string",
                  "description": "string",
                  "ike_auth_method": "IKE_AUTH_METHOD_NONE",
                  "ike_dh_group": "GROUP_NONE",
                  "ike_auth_algorithm": "IKE_AUTH_ALGO_NONE",
                  "ike_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                  "ike_lifetime": 1,
                  "ipsec_protocol": "IPSEC_PROTOCOL_NONE",
                  "ipsec_auth_algorithm": "IPSEC_AUTH_ALGO_NONE",
                  "ipsec_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                  "ipsec_lifetime": 1,
                  "ike_mode": "IKE_MODE_NONE",
                  "ike_version": "string",
                  "ike_dpd_enable": true,
                  "ike_dpd_option": "IKE_DPD_OPT_NONE",
                  "ike_dpd_interval": 1,
                  "ike_dpd_threshold": 1,
                  "ipsec_pfs_group": "GROUP_NONE",
                  "ipsec_establish_option": "IPSEC_EST_OPTION_NONE"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "example": "string"
                  }
                },
                "example": {
                  "example": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    },
                    {
                      "example": {
                        "code": 1,
                        "message": "string",
                        "details": [
                          {
                            "@type": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "code": 1,
                  "message": "string",
                  "details": [
                    {
                      "@type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile/{profile_name}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetIpsecProfile",
        "description": "Get a ipsec profile",
        "operationId": "GetIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetIpsecProfileResponse"
                    },
                    {
                      "example": {
                        "profile": {
                          "profile_name": "string",
                          "description": "string",
                          "ike_auth_method": "IKE_AUTH_METHOD_NONE",
                          "ike_dh_group": "GROUP_NONE",
                          "ike_auth_algorithm": "IKE_AUTH_ALGO_NONE",
                          "ike_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                          "ike_lifetime": 1,
                          "ipsec_protocol": "IPSEC_PROTOCOL_NONE",
                          "ipsec_auth_algorithm": "IPSEC_AUTH_ALGO_NONE",
                          "ipsec_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                          "ipsec_lifetime": 1,
                          "ike_mode": "IKE_MODE_NONE",
                          "ike_version": "string",
                          "ike_dpd_enable": true,
                          "ike_dpd_option": "IKE_DPD_OPT_NONE",
                          "ike_dpd_interval": 1,
                          "ike_dpd_threshold": 1,
                          "ipsec_pfs_group": "GROUP_NONE",
                          "ipsec_establish_option": "IPSEC_EST_OPTION_NONE"
                        },
                        "configurations": [
                          {
                            "body": "string",
                            "format": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "profile": {
                    "profile_name": "string",
                    "description": "string",
                    "ike_auth_method": "IKE_AUTH_METHOD_NONE",
                    "ike_dh_group": "GROUP_NONE",
                    "ike_auth_algorithm": "IKE_AUTH_ALGO_NONE",
                    "ike_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                    "ike_lifetime": 1,
                    "ipsec_protocol": "IPSEC_PROTOCOL_NONE",
                    "ipsec_auth_algorithm": "IPSEC_AUTH_ALGO_NONE",
                    "ipsec_encrypt_algorithm": "IKE_ENCR_ALGO_NONE",
                    "ipsec_lifetime": 1,
                    "ike_mode": "IKE_MODE_NONE",
                    "ike_version": "string",
                    "ike_dpd_enable": true,
                    "ike_dpd_option": "IKE_DPD_OPT_NONE",
                    "ike_dpd_interval": 1,
                    "ike_dpd_threshold": 1,
                    "ipsec_pfs_group": "GROUP_NONE",
                    "ipsec_establish_option": "IPSEC_EST_OPTION_NONE"
                  },
                  "configurations": [
                    {
                      "body": "string",
                      "format": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource. This may occur when an object with the same name already exists in the system.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "429": {
            "description": "Resource exhausted. The request was rejected because a resource limit has been reached. This may occur due to rate limiting (too many requests in a given time period) or because the response payload size exceeds the maximum allowed threshold. Consider reducing the scope of the request, applying filters, or using pagination to retrieve smaller result sets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError1"
                }
              }
            }
          },
          "500": {
[...]
